name: BindPlane Infra Setup

on:
  workflow_dispatch:
    inputs:
      project_id:
        description: "GCP Project ID"
        required: true
      region:
        description: "GCP Region"
        default: us-central1
      zone:
        description: "GCP Zone"
        default: us-central1-a
      vm_name:
        description: "VM Name"
        required: true
      db_user:
        description: "PostgreSQL DB User"
        required: true
      db_pass:
        description: "PostgreSQL DB Password"
        required: true
      bp_admin_user:
        description: "BindPlane Admin Username"
        required: true
      bp_admin_pass:
        description: "BindPlane Admin Password"
        required: true
      bucket_name:
        description: "GCS Bucket Name"
        required: true

jobs:

  gcp-auth:
    name: GCP Authentication
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Authenticate to GCP
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
        run: |
          echo "$GOOGLE_CREDENTIALS" > key.json
          gcloud auth activate-service-account --key-file=key.json
          gcloud config set project ${{ github.event.inputs.project_id }}

  terraform-init:
    name: Terraform Init
    runs-on: ubuntu-latest
    needs: gcp-auth
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform Init
        run: terraform init

  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    needs: terraform-init
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v3
      - name: Apply Terraform
        run: |
          terraform apply -auto-approve \
            -var="project_id=${{ github.event.inputs.project_id }}" \
            -var="region=${{ github.event.inputs.region }}" \
            -var="zone=${{ github.event.inputs.zone }}" \
            -var="vm_name=${{ github.event.inputs.vm_name }}" \
            -var="db_user=${{ github.event.inputs.db_user }}" \
            -var="db_pass=${{ github.event.inputs.db_pass }}" \
            -var="bp_admin_user=${{ github.event.inputs.bp_admin_user }}" \
            -var="bp_admin_pass=${{ github.event.inputs.bp_admin_pass }}" \
            -var="bucket_name=${{ github.event.inputs.bucket_name }}"
