- name: Setup Terraform
  uses: hashicorp/setup-terraform@v3
  with:
    terraform_version: 1.6.5

- name: Write GCP credentials file
  env:
    GCP_KEY: ${{ secrets.GCP_SA_KEY }}
  run: |
    echo "$GCP_KEY" > gcp-key.json

- name: Terraform Init
  run: terraform init

- name: Terraform Apply
  run: |
    terraform apply -auto-approve \
      -var="project_id=${{ github.event.inputs.project_id }}" \
      -var="region=${{ github.event.inputs.region }}" \
      -var="zone=${{ github.event.inputs.zone }}" \
      -var="vm_name=${{ github.event.inputs.vm_name }}" \
      -var="db_user=${{ github.event.inputs.db_user }}" \
      -var="db_pass=${{ github.event.inputs.db_pass }}" \
      -var="bp_admin_user=${{ github.event.inputs.bp_admin_user }}" \
      -var="bp_admin_pass=${{ github.event.inputs.bp_admin_pass }}" \
      -var="bucket_name=${{ github.event.inputs.bucket_name }}" \
      -var="credentials_file=gcp-key.json"
